*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    text-decoration: none;
    list-style-type: none;
}
body{
    background: #000;
    color: white;
    margin: auto;
}

a{
    color: #fff;
}
a:hover{
    color: #48D0B8;
    border-bottom: 2px solid #48D0B8; 
    
}
.container{
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}
.navbar img{
    width: 100px;
    height: 50px;
}
.navbar ul{
    display: flex;
}
.navbar li{
    font-size: 15px;
    padding: 10px;
}

.bienvenida{
    background: #000;
    display: grid;
    grid-template-columns: repeat(2,auto-fit);
    grid-template-areas: "texto     imagen";
    justify-content: center;
    align-items: center;
}
.bienvenida__logo{
    grid-area: imagen;
}
.bienvenida__texto{
    grid-area: texto;
    color: #fff;
    text-align: center;
    padding-left: 100px;
}
.bienvenida__texto h3{
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 20px;
}
.bienvenida__texto p {
    font-size: 20px;
}

.button_vermas{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    animation: fadeInDown 4s infinite;
}

.ver__mas{
    text-align: center;
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
}

.ver__mas:hover{
    color: #F1A231;
    border: 2px solid #F1A231;
}

.quienes{
    padding-top: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: "quienesv  quienesn"
                          "verde     naranja";
    color: #fff;
    text-align: center;
    
                    
}
.quienes hr{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 18px;
    top: 47.125rem;
    margin-top: 1.25rem;
    width: 14.75rem;
    height: 0.2188rem;
    border: none;
    background: linear-gradient(90deg, rgba(241,162,49,1) 0%, rgba(72,208,184,1) 100%);
}
.quienes__titulo{
    grid-area: quienesv;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 18px;
    margin-top: 20px;
    font-size: 30px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    word-spacing: 10px;
}

.quienes__parrafo{
    background-color: #48D0B8;
    grid-area: verde;
    display: inline-block;
    width: 50%;
    height: 637px;
    text-align: center;
    font-size: 24px;
    padding: 150px 100px;
}

.quienes__img{
    background-color: #F1A231;
    grid-area: naranja;
    display: inline-block;
    width: 50%;
    float: right;
    height: 637px;

}

.quienes__img img{
    margin-top: 80px;
    width: 500px;
}

.clientes{
    padding-top: 40px;
    margin: auto;
    text-align: center;
}

.clientes h3{
    display: inline-block;
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: 3px solid #F1A231;
    margin-bottom: 30px;
}

.clientes__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "img1 img2";
}

.clientes__grid div{
    margin: auto;
}
.clientes__grid img{
    border-radius: 100px;
}

.image-container {
    position: relative;
    width: 200px;
    height: 200px;
}
.image-container .overlay_text {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    display: none;
    color: #FFF;
    padding: 20px;
}
.image-container:hover .overlay_text {
    padding-top: 80px;
    display: block;
    background: rgba(0, 0, 0, .9);
}

.contacto{
    padding-top: 40px;
    margin: auto;
    text-align: center;
    margin-bottom: 150px;
}

.contacto h3{
    display: inline-block;
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: 3px solid #F1A231;
    margin-bottom: 30px;
}
.contacto li{
    display: table-caption;
    font-size: 20px;
    padding: 5px;
}
.contacto a:hover{
    text-decoration: none;
}

.tarjetas img{
    width: 50%;
    display: block;
    margin: auto;
}

footer svg{
    margin-bottom: -350px;
}

/* RESPONSIVE */

@media (max-width: 928px){
    body{
        padding: 0;
        margin: auto;
    }
    .container{
        width: 100%;
        padding: 0;
    }

    .bienvenida{
        grid-template-columns: 1fr;
        grid-template-areas: "imagen"
                             "texto";
        
    }
    .bienvenida__logo{
        margin: auto;
        width: 300px;
        padding-left: 0;
        padding-right: 20px;
    }
    .bienvenida img{
        margin: auto;
        width: 100%;
    }
    .bienvenida__texto{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
        
    }
    .button_vermas{
        margin-top: 50px;
        margin-bottom: 200px;
    }
    .quienes{
        grid-template-columns: 1fr;
        grid-template-rows: none;
        grid-template-areas: "verde"
                            "naranja";
    }
    .quienes__parrafo{
        width: 100%;
        padding: 100px 11px 0px;
        height: 500px;
    }
    .quienes__img{
        width: 100%;
        margin-bottom: 80px;
    }
    .quienes__titulo{
        border-bottom: 3px solid #F1A231;
        margin-bottom: 30px;
        right: 0;
    }
    .quienes img{
        width: 500px;
    }
    .quienes hr{
        display: none;
    }
    .tarjetas img{
        width: 100%;
    }
}


@media (max-width: 500px){
    .navbar ul{
        display: none;
    }

    .quienes img{
        width: 100%;
    }
    .quienes__img{
        width: 100%;
        margin-bottom: 80px;
    }
}

@media (max-width: 432px){
    .clientes__grid{
        grid-template-columns: 1fr;
        grid-template-areas: "img1"
                             "img2";
        gap: 30px;
    }
}
